.Board {
  table { 
    border-collapse: collapse; 
    border-spacing: 0; 
    padding: 0px; 
    margin: 0 auto; 
    border: 2px solid #181818; 
  }
  
  tr td { 
    width: 60px; 
    height: 60px; 

    
  }
  
  .cell-selected {
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 0 8px red;
  }

  tr:nth-child(2n) td:nth-child(2n+1) { 
    background: #9f9f9f; 
  }
  
  tr:nth-child(2n+1) td:nth-child(2n) { 
    background: #9f9f9f; 
  } 
}